
#intro {
    margin: 0 auto;
    width: 90%;
    border: 1px solid red;
    border-style: solid; 
    overflow: hidden;
}
img {
   
    margin-left: 30%;
}
#parrafo {
    border: 4px red dashed;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
#parrafo1 {
    float: left;
    width: 38%;
    border: 4px red dashed;
    margin-left: 10%;
}
#parrafo2 {
    float: right;
    width: 38%;
    border: 4px red dashed;
    margin-right: 10%;
}
.rojo {
    color: red;
    border-style: solid;color: green;
}
