#intro {
    background-color: blanchedalmond;
    text-align: center;
    width: 65%;
    margin-left: 14%;
   
}
img {
width: 80%;
height: 80%;

}
h1 {
    text-align: center;
    color: blueviolet;
    font-size: larger;
}